.dialogs {
    display: grid;
    grid-template-columns: 3fr 9fr;
    height: 100%;
}

.dialogs__users {
    height: 100%;
    border-right: 30px solid #121724;
}

.dialog__user {
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    width: 100%;
    height: 60px;
}

.dialog__user img {
    display: block;
    width: 50px;
    height: 50px;
}

.dialogs__messages {
    padding: 40px;
    border: 4px solid #23537a;
}

.dialog__message {
    width: 100%;
    height: auto;
    display: flex;
}

.dialog__message img {
    display: block;
    width: 50px;
    height: 50px;
    padding-right: 30px;
}

.dialog__message span {
    border: 2px solid #23537a;
}